---
---

$font-size-base:          18px !default;
@import "variables";
@import "bootstrap";
@import "bootswatch";


.content{
    margin-top:70px;
    margin-bottom:100px;
}

.social-buttons{
    text-align: center;
}

.social-buttons a{
    color: $text-color;
}

img {
    max-width: 100%;
}
