<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{% if page.title %}{{ page.title }} - Mark Harfouche{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="{{ site.description }}">
  <link href="{{ "/css/style.css" | prepend: site.baseurl }}" rel="stylesheet" media="screen">
  <link href="{{ "/css/syntax.css" | prepend: site.baseurl }}" rel="stylesheet" media="screen">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">

  <!-- You can link to pages with index.html as well, this removes it and makes
  abc/ and abc/index.html
  the same page according to search engines -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- used http://www.favicon-generator.org/ -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ "/img/favicons/apple-icon-57x57.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "/img/favicons/apple-icon-60x60.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "/img/favicons/apple-icon-72x72.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/img/favicons/apple-icon-76x76.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "/img/favicons/apple-icon-114x114.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/img/favicons/apple-icon-120x120.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "/img/favicons/apple-icon-144x144.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/img/favicons/apple-icon-152x152.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/img/favicons/apple-icon-180x180.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ "/img/favicons/android-icon-192x192.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/img/favicons/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "/img/favicons/favicon-96x96.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/img/favicons/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/img/favicons/manifest.json" | prepend: site.baseurl }}">
  <meta name="msapplication-TileImage" content="{{ "/img/favicons/ms-icon-144x144.png" | prepend: site.baseurl }}">
  <meta name="msapplication-TileColor" content="#375a7f">
  <meta name="theme-color" content="#375a7f">

  {% include google_analytics.html %}

  <!-- https://about.gitlab.com/2016/04/11/tutorial-securing-your-gitlab-pages-with-tls-and-letsencrypt/ 
       Redirect not possible
  -->
  <!--
  <script>
    var host = "www.markharfouche.com";
    if ((host == window.location.host) && (window.location.protocol != 'https:')) {
      window.location = window.location.toString().replace(/^http:/, "https:");
    }
  </script>
  -->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}">Mark Harfouche</a>
  </div>

  <div class="collapse navbar-collapse" id="navbar-main">
    <ul class="nav navbar-nav">
      <li><a href="{{ "/research" | prepend: site.baseurl }}">Research</a></li>
      <li><a href="{{ "/teaching" | prepend: site.baseurl }}">Teaching</a></li>
      <li><a href="{{ "/cycling" | prepend: site.baseurl }}">Cycling</a></li>
      <li><a href="{{ "/optics" | prepend: site.baseurl }}">Optics</a></li>
      <li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
    </ul>
  </div>
</div>
</nav>

<div class="container content">
